@font-face {
  font-family: 'Super Mario 256';
  src: url('/assets/SuperMario256.ttf') format('truetype');
}

@font-face {
  font-family: 'Hylia Serif';
  src: url('/assets/alt-theme/HyliaSerifBeta-Regular.otf') format('opentype');
}

@mixin bg {
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
}

@mixin absolute-centre($important: false) {
  $suffix: "";
  
  @if $important {
    $suffix: " !important";
  }

  position: absolute#{$suffix};
  top: 50%#{$suffix};
  left: 50%#{$suffix};
  transform: translate(-50%, -50%)#{$suffix};
}

@mixin game-text($font: 'Super Mario 256', $stroke-width: 0.05em, $color: white) {
  font-family: $font, sans-serif;
  color: $color;
  -webkit-text-stroke-width: $stroke-width;
  -webkit-text-stroke-color: black;
}

@mixin text-gradient($gradient-angles, $animation-name: none, $duration: 40s) {
  background: linear-gradient($gradient-angles);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  @if $animation-name != none {
    animation: #{$animation-name} $duration linear infinite;
  }
}

@keyframes bounceButton {
  to {
    transform: scale(0.95);
  }
}

@keyframes gradient-scroll {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 200% 50%;
  }
}