# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Node.js
node_modules/
package-lock.json

# Internal
# "_/" contains a backup of favicons
# "_cmd/" contains 2 files:
#   (1) launch.bat which executes "http-server" (https://www.npmjs.com/package/http-server), locally hosts the website, and opens app.lnk
#   (2) sw.bat which executes "workbox generateSW" (https://developer.chrome.com/docs/workbox/modules/workbox-cli/)
# "app.lnk" which launches the website as an Edge PWA (cause Edge PWA UI looks better than Chrome's as it uses native Windows UI.)
# "info.txt" is just a record of when I first created the website
_/
_cmd/
app.lnk
info.txt

# System Files
desktop.ini

# Microsoft Edge Tools
.hintrc

# Compile Hero
scripts/dist/