# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.eslintrc.json

# Node
node_modules/
package-lock.json

# Internal
# cmd/
app.lnk
info.txt

# System Files
desktop.ini
.DS_Store
Thumbs.db