@font-face {
    font-family: 'Super Mario 256';
    src: url('SuperMario256.ttf')
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.hideY {
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
label {
    font-family: 'Super Mario 256', sans-serif;
    color: white;
    -webkit-text-stroke-width: 0.2vmin;
    -webkit-text-stroke-color: black;
}

a {
    text-decoration: none
}

#learnmore {
    color: rgb(0, 174, 255);
    text-decoration: underline;
}

.boxBtn {
    background-color: lightskyblue;
    outline-color: initial;
    border-radius: 2vmin;
    font-size: 4vmin;
    padding: 8px;
}

#grassBox {
    font-size: 3.5vmin;
    padding: 8px;
    width: 70vmin;
    border-radius: 1vmin;
    text-align: center;
}

.appIcon,
.link {
    margin-bottom: 1vmin;
    margin-top: 1vmin;
    border-radius: 30%;
    filter: drop-shadow(0.5vh 0.5vh 0.15vh rgba(0, 0, 0, 0.6));
    cursor: pointer;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: all;
    transition-duration: 0.07s;
    transition-timing-function: ease-in-out;
    width: 10vmin;
}

.appIcon:active,
.appIcon:focus-visible,
a:focus-visible .appIcon {
    animation: bounceButton 0.25s ease-in-out forwards
}

.bottom {
    text-align: center;
    left: 2vmin;
    font-size: 4vmin;
}

.rel {
    position: relative
}

.flex {
    display: flex;
    justify-content: center;
}

#back img {
    left: 2vmin;
    top: 2vmin;
    position: absolute;
    font-size: 8vmin;
    width: 8vmin;
}

button {
    background-color: lightskyblue;
    outline-color: initial;
    border-radius: 3vmin;
    font-size: 5vmin;
    block-size: 12vmin;
}

button:hover,
input:hover {
    transform: translateY(-1vh)
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 30vmin;
    font-size: 4vmin;
    background-color: #555;
    text-align: center;
    border-radius: 6vmin;
    padding: 5vmin;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -20vmin;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

select {
    background-color: dodgerblue;
    font-family: sans-serif;
    border-color: black;
}

input {
    font-family: sans-serif;
    background-color: lightblue;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.kb-list {
    text-align: left;
    color: cyan;
}

.kb-hint {
    font-size: 5vmin;
    color: inherit;
}

.gold {
    color: gold;
}