@font-face {
    font-family: 'Super Mario 256'; 
    src: url('../SuperMario256.ttf')
}

h1, h2, h3, h4, h5, h6, p, a, summary, details {
    font-family: 'Super Mario 256', sans-serif;
    color: white;
    -webkit-text-stroke-width: 0.25vh;
    -webkit-text-stroke-color: black;
}

summary {
    color: gold;
}

a {
    text-decoration: none;
}

#everything {
    width: 100%;
    height: 100%;
}

.homeButtons {
    position: relative;
    top: 10vh;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 1vh;
    color: white;
    font-size: 4vh;
    width: 30%;
}

.softwareIcons {
    position: relative;
    top: 10vh;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 1vh;
    color: white;
    font-size: 4vh;
    width: 50%;
}

.softwareIcon {
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 10%;
    filter: drop-shadow(0.5vh 0.5vh 0.15vh rgba(0, 0, 0, 0.6));
    cursor: pointer;
    z-index: 1;
    user-select: none;
    pointer-events: all;
    transition-duration: 0.07s;
    transition-timing-function: ease-in-out;
    width: 10%;
}

.softwareIcon:active, .softwareIcon:focus-visible, a:focus-visible .softwareIcon {
    animation: bounceButton 0.25s ease-in-out forwards;
}

.socialLinks {
    bottom: 2%;
    text-align: center;
    position: absolute;
    left: 2%;
    font-size: 4vh;
}

.rel {
    position: relative;
}

#back {
    top: 0%;
    left: 0%;
    position: absolute;
    font-size: 8vh;
}

@keyframes bounceButton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.12);
    }
    75% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1.1);
    }
}